* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3c09b;
    font-family: 'figtree', sans-serif;

}

body > .container {
    max-width: 1200px; 
    margin: 0 auto;  
    padding: 0 15px; 
}

/* ---------navbar-------- */
.custom-navbar {
    background-color: #5e75ae;
    border-radius: 25px; 
    margin-top: 20px;
}

.navbar div a {
    font-family: 'Nunito Sans',sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    color:white;
}

.navbar-collapse {
    max-height: 300px; 
    overflow-y: auto;  
}


.navbar-toggler {
    border: none; /* 去掉外框线 */
    padding: 10px; /* 增加点击区域 */
    background: transparent; /* 移除背景 */
    outline: none; /* 移除点击时的外边框 */
}

.toggler-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35px; /* 控制整体高度 */
    width: 45px; /* 控制整体宽度 */
}

.toggler-icon span {
    display: block;
    height: 7px; 
    width: 100%;
    background-color: #e3c09b; 
    border-radius: 5px; 
    transition: all 0.3s ease-in-out;

}
/* ------Hero part---- */

.hero-home-content div h1 {
    font-family: 'Alfa Slab One',sans-serif;
    font-size: 3.5rem;
    /* font-style: italic; */
}



.hero-home-image img:nth-child(2) {
    max-width: 100%;
    height: auto;    
}

.hero-home {
    position: relative;
    margin-top: 20px;
}

.hero-home-image {
    position: relative;
    z-index: 1;
}

.hero-home-image img:nth-child(1) {
    position: relative;
    z-index: 1;
    transform: scale(1.6); 
    display: block; 
    margin: 50px auto;
    max-width: 100%;
    padding-top: 20px;
}

.hero-home-content p {
    position: relative;
    margin-top: -6.5rem; 
    padding: 1rem;
    border-radius: 10px;
    z-index: -1;
    background-color: rgba(217, 217, 217, 0.2);
    font-family: 'Figtree',sans-serif;
    font-weight: bold;
}

@media (min-width: 768px) {

    .hero-home-box {
        background-color: rgba(217, 217, 217, 0.2); 
        border-radius: 20px;
        position: relative;
        padding: 40px 0;
    }
    
    .hero-home-image img:nth-child(2) {
       width: 100%;
       height: auto;    
    }
    

    .hero-home-content .text-center p {
        font-size: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: left;
        margin-top: -3.5rem; 
        background-color: transparent;
        font-family: 'Figtree',sans-serif;
        font-weight: bold;
    }

    .hero-home-content {
        position: relative;
    }

    .hero-home-content .text-center h1 {
        position: absolute; 
        font-size: 3rem;
        color: #000;
        text-align: left;  
        margin-right: -20px;  
        z-index: 2;    
        top: 5%; 
        left:5%;
        width: fit-content;
        padding: 10px 20px;
    }

    .hero-home-content h1 .shift-right {
        display: block;
        padding-left: 150px;/* 第二行右对齐 */
    }

    .hero-home-image {
        max-width: 90vw; }
    
}

@media (min-width: 992px) {
    .hero-home-image :nth-child(2) {
        width:70%; 
    }

    .hero-home-content .text-center h1 {
        position: absolute; 
        font-size: 5rem;
        color: #000;
        text-align: left;  
        margin-right: -100px;  
        z-index: 2;    
        top: 5%; 
        left: 10%;
        width: fit-content;
    }

    .hero-home-content .text-center p {
        font-size: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        text-align: left;
        margin-top: -3.5rem; 
        background-color: transparent;
        font-family: 'Figtree',sans-serif;
        font-weight: bold;}
}

/* --------Mainbutton part-------- */

.custom-button {
    background-color: #d2a2ab; 
    color: white; 
    border: none; 
    padding: 10px 40px; 
    border-radius: 25px; 
    font-weight: bold;
    transition: 0.3s; 
}

.custom-button:hover {
    background-color: #7c424d; 
    color: #fff;
}

.custom-button a {
    text-decoration: none; 
    color: inherit; 
    font-family: 'Nunito Sans',sans-serif;
    font-style: italic;
}

/* .donate img {
    width: 60%;
} */

.mainbutton img {
    border-radius: 25px; 
    width: 100%; 
    /* max-width: 300px;  */
    border: 10px solid #b2bbc9;     
}

/* ------divider------- */

.divider {
    border-top: 2px solid #000;
    margin: 20px auto;
    width: 90%;    
}

/* ----------Project Part */

.project {
    margin: 0 10px; 
}

.project h2 {
    margin: 20px auto;
    text-align: center;
    font-family: 'Nunito Sans',sans-serif;
    font-style: italic;
    font-size: 2.5rem;
    font-weight:700;
}

.projectbody .row > div {
    display: flex;
}


.custom-card {
    display: flex;
    flex-direction: column;
    background-color: #e4bab2;  
    border: 1px solid #000;     
    margin: 15px 0;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h5 {
    text-align: center;
    font-family: 'Cormorant Garamond',sans-serif;
    font-size: 1rem;
}

.card-body p {
    font-family: 'figtree',sans-serif;
    font-size: 0.8rem;
}

/* --------footer------- */

.footer {
    background-color: #5e75ae;
    /* padding: 120px 0 20px; */
    position: relative; 
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

.footer::before {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 50px; 
    background-color: #d9d9d9; /* 设定灰色 */
}

.footer .container-fluid .copyright {
    text-align: left;
    /* margin-top: 10px; */
    margin-bottom: 0;
    margin-top: 30px;  
    padding-bottom: 0;
    
}

.footer .container-fluid {
    margin-bottom: 30px;
    margin-top: 60px;
    padding: 20px 0;
    gap: 20px;
    width: 85%;
}

.footer .row {
    display: flex;
    align-items: start; 
}


.footer ul {
    list-style: none;  
    padding: 0;  
    margin-bottom: 40px; 
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.footer a {
    text-decoration: none;  
    color: inherit;  
    font-weight: 100;
}

.partnerlink a {
    text-decoration: underline;
    text-decoration-color: #fff;
}


.footer .container-fluid .copyright p {
    font-family:'Nunito Sans',sans-serif;
    font-size: 1rem;
    font-style: italic; 
    font-weight: 800;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center; 
    top: -9px;
    position: relative;
}

.social-icons a {
    font-size: 25px;  
    color: #000;  
    text-decoration: none;
}

.social-icons h5 {
    font-family:'Nunito Sans',sans-serif; 
    margin: 0;
    white-space: nowrap; 
    line-height: 1;  
    position: relative;
    /* top: -10px;   */
}

.row h5 {
    font-family:'Nunito Sans',sans-serif; 
    font-size: 1rem;
    font-weight: 800;
}

.address p {
    line-height: 2;
}

.address .address-label {
    display: inline-block;
    font-weight: bold;
    margin-left: 0;

}

.address .content {
    display: inline-block;
    white-space: nowrap;
}

.address .indent {
    display: block; 
    padding-left: 4.5rem; 
}

@media (min-width: 992px) {
    .footer .container-fluid {
        margin-bottom: 30px;
        margin-top: 60px;
        padding: 20px 0;
        gap: 20px;
        width: 75%;
    }
}


/* ----------Donate Page-------- */

    /* --------hero section----- */

.hero-donate-content div h1 {
    font-family: 'Alfa Slab One',sans-serif;
    font-size: 3rem;
    /* font-style: italic; */
}

.hero-donate{
    margin-top: 20px;
}

.hero-donate-content img {
    display: block;
    border-radius: 25px; 
    max-width: 1000px;
    margin: 0 auto;
    width: 100%; 
    /* max-width: 300px;  */
    border: 10px solid #b2bbc9; 
}

.hero-donate-content div p {
    font-family: 'figtree',sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
}

.donate-program h2 {
    margin: 20px auto;
    text-align: center;
    font-family: 'Nunito Sans',sans-serif;
    font-style: italic;
    font-size: 2.5rem;
    font-weight:700;
}


.donate-program-content .description-text p {
    margin: 20px;
    margin-top: 50px;
    font-family: 'figtree',sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
}

.position-relative {
    position: relative;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 20%;
    background: rgba(0, 0, 0, 0.2); 
    color: white;
    text-align: center;
    padding: 0;
    margin: 20px 20px;
    border-radius: 0 0 25px 25px;
    
}

.position-relative .overlay-text p {
    font-size: 1.2rem;
    transform: translateY(20px);
}

.donate-program-content img {
    margin: 20px;
    border-radius: 25px;
}

@media (min-width: 768px) {
    .hero-donate-content {
        position: relative;
    }

    .hero-donate-content div h1 {
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width:100%;
        font-size: 3.5rem;

    }
}

@media (min-width: 992px) {
    .hero-donate-content {
        position: relative;
    }

    .hero-donate-content div h1 {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width:100%;
        font-size: 4rem;

    }
}